<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-calm tabs-icon-only tabs-icon-top">


  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline"  href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Friends Tab -->
  <ion-tab title="Accounts" icon-on="icon ion-ios7-person" icon-off="ion-ios7-person-outline" href="#/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Cores" icon-on="icon ion-ios7-bolt" icon-off="ion-ios7-bolt-outline" href="#/tab/cores">
    <ion-nav-view name="tab-cores"></ion-nav-view>
  </ion-tab>

  <!-- Data Tab -->
  <ion-tab title="Data" icon="icon ion-ios7-pulse-strong" href="#/tab/data">
    <ion-nav-view name="tab-data"></ion-nav-view>
  </ion-tab>

</ion-tabs>
