<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-calm tabs-icon-only tabs-icon-top" ng-controller="MainCtrl">
  <button class="button button-assertive button-icon icon ion-navicon" ng-click="toggleLeft()"></button>

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-on="ion-ios7-home" icon-off="ion-ios7-home-outline"  href="#/main/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Accounts" class="tab-hide" icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline" href="#/main/tab/accounts">
    <ion-nav-view name="tab-accounts"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Cores" icon-on="ion-ios7-bolt" icon-off="ion-ios7-bolt-outline" href="#/main/tab/cores">
    <ion-nav-view name="tab-cores"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Listeners" icon="icon ion-mic-a" href="#/main/tab/listeners">
    <ion-nav-view name="tab-listeners"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" href="#/main/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
