<!-- <ion-view title="Ionic Basic Spark" hide-nav-bar="true">
  <ion-content class="padding"> -->
<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content ng-controller="DashCtrl">


    <h1>Dashboard</h1>

    <div class="row responsive-sm">
    	<div class="col">
	    	<div class="card align-center">
			  <div class="item item-text-wrap">
			    <a href="#/accounts" class="icon ion-person icon-huge"></a>
			  </div>
			  <div class="item item-divider">
			    Accounts
			  </div>
			</div>
    	</div>
    	<div class="col">
    		<div class="card align-center">
			  <div class="item item-text-wrap">
			    <a href="#/cores" class="icon ion-flash-off icon-huge"></a>
			  </div>
			  <div class="item item-divider">
			    Spark Cores
			  </div>
			</div>
    	</div>
    </div>

    <div class="row responsive-sm">
    	<div class="col">
	    	<div class="card align-center">
			  <div class="item item-text-wrap">
			    <a href="#/data" class="icon ion-ios7-pulse-strong icon-huge"></a>
			  </div>
			  <div class="item item-divider">
			    Data
			  </div>
			</div>
    	</div>
    	<div class="col">
    		<div class="card align-center">
			  <div class="item item-text-wrap">
			    <a href="#/settings" class="icon ion-ios7-gear icon-huge"></a>
			  </div>
			  <div class="item item-divider">
			    Settings
			  </div>
			</div>
    	</div>
    </div>

    <div class="row responsive-sm">
    	<div class="col-50">
	    	<div class="card align-center">
			  <div class="item item-text-wrap">
			    <a href="#/dash/about" class="icon ion-android-information icon-huge"></a>
			  </div>
			  <div class="item item-divider">
			    About
			  </div>
			</div>
    	</div>
    </div>

  </ion-side-menu-content>


<!-- </ion-view> -->
  <ion-side-menu side="left">
    <ul class="list">
  	  <li class="item">Side menu 1</li>
  	  <li class="item">Side menu 2</li>
  	  <li class="item">Side menu 3</li>
  	</ul>
  </ion-side-menu>

</ion-side-menus>
