<ion-view title="Accounts" hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">Accounts</h1>
    <button class="button icon-right icon ion-ios7-plus-empty button-clear" ng-click="modal.show()">New</button>
  </ion-header-bar>

  <ion-content has-header="true">

	<p>Accounts here</p>

    <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/account/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


