<ion-view title="Spark Cores" hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">Dashboard</h1>
  </ion-header-bar>

  <ion-content>

  <ion-slide-box on-slide-changed="slideHasChanged($index)">
	  <ion-slide>
	    <div class="box">
	    	<div class="small-header">All Core Events</div>
	    </div>
	  </ion-slide>

	  <ion-slide ng-repeat="core in cores">
	    <div class="box">
	    	<div class="small-header">{{core.name}}</div>
	    </div>
	  </ion-slide>

	</ion-slide-box>



  </ion-content>
</ion-view>
