<ion-view title="Spark Cores" hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">Spark Cores</h1>
    <button class="button icon-right icon ion-ios7-plus-empty button-clear" ng-click="modal.show()">New</button>
  </ion-header-bar>

  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh"
      refreshing-text="Polling {{acctsProcessed+1}} of {{acctsToProcess}} accounts..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item ng-repeat="core in cores" type="item-text-wrap"  class="item-icon-left item-icon-right" href="#/cores/{{core.id}}">
      	<i ng-hide="core.connected" class="button button-clear icon ion-ios7-circle-outline"></i>
      	<i ng-show="core.connected" class="button button-balanced button-clear icon ion-record"></i>

        <h2>{{core.name}}</h2>
        <p ng-show="core.last_heard"><em>Last heard at: {{core.last_heard}}</em></p>
        <i class="icon ion-chevron-right"></i>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
