<ion-view title="Accounts" hide-nav-bar="true">

  <ion-header-bar class="bar-calm">
    <h1 class="title">Accounts</h1>
    <button class="button icon-right icon ion-ios7-plus-empty button-clear" ng-click="modal.show()">New</button>
  </ion-header-bar>

  <ion-content has-header="true">

    <ion-list>
      <ion-item ng-repeat="account in accounts" type="item-text-wrap"  class="item-icon-right" href="#/accounts/{{account.id}}">
        <h2>{{account.email}}</h2>
        <p><em>Active token expires at {{account.token.expires_at}}</em></p>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>


