<?xml version='1.0' encoding='utf-8'?>
<widget id="com.emc2innovation.ibs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ionic Basic Spark</name>
    <description>
        An Ionic-based app for the Spark Core
    </description>
    <author email="emcniece@gmail.com" href="http://emc2innovation.com">
        Eric McNiece
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
