<ion-popover-view>
  <ion-header-bar class="bar bar-header bar-{{activeCore.color || 'energized'}}">
    <h1 class="title">Listeners</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="listener in activeLsts" class="item-icon-left">
        <a href="/#main/tab/listeners/{{listener.id}}">
          <i class="icon {{listener.core.icon}} {{listener.core.color}}"></i>
          {{listener.listenerName}}
          <span class="badge badge-{{listener.enabled ? 'balanced' : 'dark'}}">
              {{listener.enabled ? "On" : "Off"}}
            </span>
          <p>{{listener.core.name}}</p>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
