/* Empty. Add your own CSS if you like */
ion-nav-view{
	background-color:#fff;
}
.tabs{
	bottom:auto;
}
.has-tabs, .bar-footer.has-tabs{
	/*margin-top:47px;*/
}
.align-center{ text-align: center; }
.align-left{ text-align: left; }
.align-right{ text-align: right; }
ion-tabs .tabs{
	padding:0 40px;
}
ion-tabs .tabs > .ion-navicon{
	position: absolute;
	left:0;
}
.icon-huge{
	font-size:40px;
}
a{
	color:#00adef;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:"Gotham A","Gotham B",proxima-nova,"Helvetica Neue",helvetica,arial,sans-serif;
	font-weight: 100;
}
#home h4, #home h5, #home h6, #home p, #home span, #home a, #home ul, #home li, #home button, #home input{
	font-family: "Gotham SSm A","Gotham SSm B",proxima-nova,"Helvetica Neue",helvetica,arial,sans-serif;
	font-weight: 300;
}
.list h1, .list h2, .list h3, .list h4, .list h5, .list h6{
	font-weight: 300;
}
.list em{
	font-style: italic;
}
.modal .item{
	margin:-1px 0;
}
#home .item-checkbox p{
	margin:0;
}
#home .item-checkbox.item-icon-right .button.icon{
	max-height:none;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 50px;
  color: #000;
  background-color: #fff;
  text-align: center;
}
.slider-slide:nth-child(odd){
	/*background:#eee;*/
}
.slider-slide .small-header{
	background:#eee;
	padding: 5px 0;
	color: #888;
	text-shadow: 1px 1px 1px #fff;
}